/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media (max-width: 768px) and (orientation: portrait) {
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #540b51;
  }

  .slackLogo {
    width: 120px;
    padding: 40px 40px;
  }

  .hidden {
    display: none;
  }

  .navButtons {
    display: flex;
    padding: 40px 40px;
    justify-content: space-around;
  }

  .navButtons button {
    background: none;
    border: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #540b51;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
    min-width: 95%;
  }

  .header h1 {
    color: white;
    font-size: 75px;
    text-align: center;
    padding: 0px 30px;
  }

  .header span {
    color: yellow;
    font-size: 25px;
    padding-top: 0px;
  }

  .header p {
    color: white;
    font-size: 25px;
    padding-top: 0px;
  }

  .header-buttons button {
    padding: 20px 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
  }

  .emailSignIn {
    background-color: white;
    color: #540b51;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .googleSignIn {
    display: flex;
    flex-direction: row;
    background-color: #4285f4;
    align-content: flex-start;
    align-items: center;
  }

  .googleSignIn span {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
  }

  .googleSignIn img {
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
  }

  .slack-screenshot {
    max-width: 720px;
  }

  main {
    background-color: #f3eae2;
  }
  .trusted-section {
    padding: 50px 0px;
  }

  .trusted-section p {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  .trusted-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .trusted-images img {
    max-height: 50px;
    margin: 10px;
  }

  .description-top {
    width: 100%;
  }

  .description-text {
    padding-left: 20px;
  }
  .description-text h2 {
    padding-top: 20px;
    font-size: 30px;
  }

  .description-text p {
    font-size: 23px;
  }

  .description-section1 {
    padding-left: 20px;
  }
  .description-section1 h2 {
    padding-top: 20px;
    font-size: 30px;
  }
  .description-section1 p {
    padding-top: 20px;
    font-size: 25px;
  }

  main a {
    text-decoration: none;
  }
  main a::after {
    content: "";
    display: inline-block;
    background-size: cover;
    margin-left: 5px;
    background-image: url("../images/icon-arrow-right.png");
    width: 19px;
    height: 13px;
  }
}
